body{
    background-color: bisque;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #444;
    margin-top: 20px;
}

h3 {
    color: #555;
    margin-top: 15px;
}

p {
    color: #666;
    line-height: 1.6;
}

img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: #333 0 solid;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.foto {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

thead{
    text-transform: uppercase;
    background-color: black;
    color: white;
}
tbody {
    background-color: #fff;
}

.contenido, .tablas, .formulario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.redes {
    color: #d9534f;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-radius: 10px;
}